* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 120px;
  background: #008F76;
}
.header__container {
  width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container__lists ul {
  display: flex;
  justify-content: space-between;
}
.header__container__lists__item {
  list-style-type: none;
}
.header__container__lists__item__link {
  text-decoration: none;
  margin: 40px 35px;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  color: #FFFFFF;
}
.header__container__lists__item__link button {
  cursor: pointer;
  padding: 10px 24px;
  background: none;
  border: 1px solid #FFFFFF;
  margin-top: -8px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #FFFFFF;
}

.main {
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FF 100%);
}
.main__container {
  width: 1240px;
  margin: auto;
}
.main__container__hero {
  margin-top: 98px;
  text-align: center;
}
.main__container__hero__name__paragraph {
  font-family: "Gentium Basic";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #212121;
}
.main__container__hero__name__paragraph span {
  color: #008F76;
}
.main__container__hero__title__paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 50px;
  line-height: 200%;
  /* identical to box height, or 100px */
  color: #212121;
}
.main__container__hero__title__paragraph span {
  color: #008F76;
}
.main__container__buttons {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 58px;
}
.main__container__buttons__left {
  cursor: pointer;
  background: #008F76;
  display: flex;
  align-items: center;
  width: 209px;
  height: 52px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
  border-radius: 20px;
  margin-left: 230px;
}
.main__container__buttons__left__paragraph {
  margin-left: 35px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
}
.main__container__buttons__left img {
  margin-left: 10px;
}
.main__container__buttons__right {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 209px;
  height: 52px;
  border: 1px solid #008F76;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
  border-radius: 20px;
  margin-right: 280px;
}
.main__container__buttons__right__paragraph {
  margin-left: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #008F76;
}
.main__container__buttons__right img {
  margin-left: 10px;
}
.main__container__line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.main__container__books__old {
  display: flex;
  justify-content: space-between;
}
.main__container__books__old__sedang {
  position: relative;
  top: -40px;
  width: 100px;
  height: 139px;
  background: #FFFFFF;
  text-align: start;
  padding: 13px 14px;
}
.main__container__books__old__sedang__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 5px;
  line-height: 200%;
  /* identical to box height, or 10px */
  color: #212121;
}
.main__container__books__old__sedang__paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  /* identical to box height, or 10px */
  color: #008F76;
}
.main__container__books__old__hati {
  position: relative;
  top: -40px;
}
.main__container__books__centr {
  display: flex;
  justify-content: space-around;
}
.main__container__books__centr__bercerita, .main__container__books__centr__rasa {
  width: 130px;
  height: 200px;
}
.main__container__books__centr__totto__center {
  width: 230px;
  height: 360px;
}
.main__container__books__centr__totto__right, .main__container__books__centr__totto__left {
  position: relative;
  top: -270px;
}
.main__container__books__centr__totto__right {
  left: 100px;
}
.main__container__books__centr__totto__left {
  right: 100px;
}
.main__container__books__end {
  display: flex;
  justify-content: space-between;
}
.main__container__books__end__perempuan, .main__container__books__end__berjalan {
  position: relative;
  top: -150px;
}
.main__container__info__title {
  margin-top: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  /* identical to box height, or 48px */
  text-align: center;
  color: #212121;
}
.main__container__info__title span {
  color: #008F76;
}
.main__container__info__cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.main__container__info__cards__card {
  width: 590px;
  height: 228px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 24px;
  padding: 30px;
  text-align: start;
}
.main__container__info__cards__card:hover {
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.main__container__info__cards__card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* or 32px */
  color: #212121;
}
.main__container__info__cards__card p span {
  font-weight: 800;
}
.main__container__info__cards__card__person {
  display: flex;
  align-items: center;
  text-align: start;
  margin: 30px 60px;
}
.main__container__info__cards__card__person__about {
  padding: 15px;
}
.main__container__info__cards__card__person__about h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* identical to box height, or 32px */
  color: #212121;
}
.main__container__info__cards__card__person__about p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* identical to box height, or 32px */
  color: #949494;
}
.main__container__info__statics {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}
.main__container__info__statics__oval {
  display: flex;
  align-items: center;
  text-align: start;
}
.main__container__info__statics__oval__word {
  margin-left: 24px;
}
.main__container__info__statics__oval__word h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  /* identical to box height, or 64px */
  color: #212121;
}
.main__container__info__statics__oval__word p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #949494;
}
.main__container__info__report {
  margin-top: 100px;
}
.main__container__info__report__title {
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.main__container__info__report__title__paragraph h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  /* identical to box height, or 48px */
  color: #212121;
}
.main__container__info__report__title__paragraph p {
  margin-top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* identical to box height, or 32px */
  color: #949494;
}
.main__container__info__report__title__word p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  text-align: right;
  color: #949494;
}
.main__container__info__report__cards {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-top: 25px;
}
.main__container__info__report__cards__card {
  width: 596px;
  height: 280px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  padding: 30px;
}
.main__container__info__report__cards__card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* or 32px */
  color: #212121;
}
.main__container__info__report__cards__card:hover {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 5px;
}
.main__container__info__report__cards__card__person {
  display: flex;
  align-items: center;
  margin: 60px 60px;
}
.main__container__info__report__cards__card__person__about {
  padding-left: 15px;
}
.main__container__info__report__cards__card__person__about__arrows {
  position: relative;
  top: -70px;
  left: -210px;
}
.main__container__info__report__cards__card__person__about__arrow {
  position: relative;
  top: -80px;
  left: 390px;
}
.main__container__info__report__cards__card__person__about h4 {
  margin-top: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* identical to box height, or 32px */
  color: #212121;
}
.main__container__info__report__cards__card__person__about p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* identical to box height, or 32px */
  color: #949494;
}
.main__container__info__report__cards__card__dotted img {
  margin: 50px 24px;
}
.main__container__probolingo__bgtitle {
  display: flex;
  justify-content: space-between;
}
.main__container__probolingo__bgtitle__title h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  /* identical to box height, or 48px */
  color: #212121;
}
.main__container__probolingo__bgtitle__title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  color: #949494;
}
.main__container__probolingo__bgtitle__word p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  color: #949494;
}
.main__container__probolingo__bgimage {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.main__container__probolingo__bgimage__png {
  background-image: url(../images/Frame\ 128.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 340px;
  width: 381px;
  border-radius: 5px;
}
.main__container__probolingo__bgimage__svg {
  background-image: url(../images/Frame\ 129.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 340px;
  width: 381px;
  border-radius: 5px;
}
.main__container__probolingo__bgimage__jpg {
  background-image: url(../images/Frame\ 130.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 340px;
  width: 381px;
  border-radius: 5px;
}
.main__container__kami {
  margin-top: 190px;
  text-align: center;
}
.main__container__kami h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 200%;
  /* identical to box height, or 56px */
  color: #212121;
}
.main__container__kami p {
  margin-top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  /* identical to box height, or 40px */
  color: #949494;
}
.main__container__kami__website {
  margin-left: 450px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  padding: 10px 24px;
  background: #008F76;
  width: 344px;
  height: 68px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
  border-radius: 20px;
}
.main__container__kami__website p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  /* identical to box height, or 48px */
  color: #FFFFFF;
}
.main__container__kami__website img {
  margin-left: 15px;
}
.main__container__kami__whatsup {
  margin-left: 490px;
  border: 1px solid #008F76;
  padding: 10px 24px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 260px;
}
.main__container__kami__whatsup p {
  margin-left: 15px;
}
.main__container__kami__whatsup img {
  margin-left: 15px;
}

.footer {
  background: #ffffff;
}
.footer__container {
  width: 1240px;
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
}
.footer__container p {
  margin-left: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  /* identical to box height, or 36px */
  color: #212121;
}
.footer__container__social-networks__icons {
  display: flex;
  align-items: center;
}
.footer__container__social-networks__programm img {
  margin: 50px 20px;
}
.footer__container__lists {
  display: flex;
  justify-content: space-between;
}
.footer__container__lists__items {
  margin: 0px 100px;
}
.footer__container__lists__items li {
  list-style-type: none;
  margin-top: 20px;
}
.footer__container__lists__items li a {
  text-decoration: none;
  color: #000000;
}
.footer__container__lists__items__item {
  text-decoration: none;
}
.footer__container__lists__items__item__link__grey {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  color: #949494;
}
.footer__emblem {
  background: #008F76;
  height: 60px;
}
.footer__emblem__word {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  text-align: center;
  justify-content: center;
}
.footer__emblem__word p {
  margin-left: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  /* identical to box height, or 36px */
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */